
<h1 class="text-success">{{header}}</h1>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="margin-top: 100px;">
        <div class="border container">
            <h2 class="text-center text-success">Login Form</h2>
       



        <form action="" class= "p-3" >

         


            <div class="m-3">
                <input (change)="acnochange($event)" type="text" class="form-control"  [placeholder]="accplaceholder">
            </div>
            
            <div class="m-3">
                <input (change)="pswdchange($event)" class="form-control" type="password" placeholder="Password">
            </div>
            
            <div class="m-3">
                <input (click)="login()" class="btn btn-success" type="button" value="Login" name="" id="loginbtn">
            </div>
            
            
            
            
            
            
            
            
            
            </form>
            <div>
                <label for="">Not a user? Click here to <a href=" ">register</a></label>
            </div>
            
            
        </div>












    </div>
    <div class="col-lg-4"></div>
</div>