
<h1 class="text-success">{{header}}</h1>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="margin-top: 100px;">
        <div class="border container">
            <h2 class="text-center text-success">Login Form</h2>
       



        <form [formGroup]="loginForm" (ngSubmit)="login()" action="" class= "p-3" >
           
         


            <div class="m-3">
                <!-- acno (change)="acnochange($event)" -->
                <!-- #acno=tmplt rfrnc vrbl -->
                <input  formControlName= "acno"  name="acno" class="form-control"  type="text" [placeholder]="accplaceholder">
            </div>

            <div *ngIf="this.loginForm.get('acno')?.touched && this.loginForm.get('acno')?.errors" class="m-3" style="color: red;">
                invalid Account Number
            </div>
            
            <div class="m-3">
                <!-- password -->
                <input  formControlName= "pswd"  name="acno" class="form-control" type="password" placeholder="Password">
            </div>

            <div *ngIf="this.loginForm.get('pswd')?.touched && this.loginForm.get('pswd')?.errors" class="m-3" style="color: red;">
                invalid password
            </div>
                <!-- btn -->
            <div class="m-3">
                <input class="btn btn-success" type="submit" value="Login" name="" id="loginbtn">
            </div>
            
            
            
            
            
            
            
            
            
            </form>
            <div>
                <label for="">Not a user? Click here to <a href="register ">register</a></label>
            </div>
            
            
        </div>












    </div>
    <div class="col-lg-4"></div>
</div>